[submodule "An-Application-of-Deep-Reinforcement-Learning-to-Algorithmic-Trading"]
	path = An-Application-of-Deep-Reinforcement-Learning-to-Algorithmic-Trading
	url = https://github.com/Jcz125/An-Application-of-Deep-Reinforcement-Learning-to-Algorithmic-Trading
